@charset "utf-8";
html,body
{
    /*width: 100%;
    height: 100%;*/
    margin: 0px;
    padding: 0px;
	overflow-x:hidden;
     
}

/*Start Home Section*/

.mainDiv
{
    position: relative;
    min-height: 860px;
	
}

.person
{
	margin-top:10em;

}

/*My Image*/
.portfolio-img {
    
}

@media screen and (max-width: 290px) {
   .portfolio-img
   {
	   width:230px;
	   height:230px;
	   
   }
}

.person-img-border
{
	border:20px solid rgba(12,95,94,0.2);
}


.img-center
{
	margin:0 auto;
}

hr
{
	max-width:120px;
	border-color:rgba(220,114,33,1.00);
	border-width:3px;
	
}

video
{
	
	position:fixed;
	right:0;
	bottom:0;
	width:auto;
	min-width:100%;
	height:auto;
	min-height:100%;
	z-index:-100;
}

.my-Name
{
	font-size:60px;
	font-weight:900;
	color:rgba(12,95,94,0.4);
}

@media screen and (max-width: 390px) {
   .my-Name
   {
	   font-size:45px;
   }
}

@media screen and (max-width: 297px) {
   .my-Name
   {
	   font-size:40px;
   }
}

.slogan
{
	font-size:24px;
}

.navbar .nav > li > a:hover
{
	color:rgba(23,168,180,1.00);
	font-size:16px;
	
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
background-color:rgb(12,95,94);
color:rgba(255,255,255,1.00);
}

/*End Home Section*/

/*Start About Section*/

.about-Div
{
	width:100%;
	height:auto;
	background-color:rgba(0,0,0,0.8);
}

.set-about-margin
{
	margin-top:50px;
}

.txt-about-me
{
	color:rgba(255,255,255,1.00);
	text-shadow:2px 2px 4px rgba(85,44,45,1.00);
	font-size:38px;	
	
}

.txt-self-introduction
{
	margin-top:-13px;
	font-size:25px;
	color:rgba(63,163,149,1.00);
	text-shadow:1px 1px 1px rgba(0,0,0,1.00); 
}

.img-about
{
	border:20px solid rgba(255,255,255,0.1);
}

.texting-Div
{
	margin-top:-20px;
	
}

.txt-about-name
{
	color:rgba(255,255,255,1.00);
	text-shadow:2px 2px 4px rgba(85,44,45,1.00);
	font-size:38px;
		
}

.txt-about-slogan
{
	margin-top:-13px;
	font-size:20px;
	color:rgba(63,163,149,1.00);
	text-shadow:1px 1px 1px rgba(0,0,0,1.00);
}

.aboutmeText
{
	color:rgba(248,248,248,1.00);
	text-align:justify;
	margin-top:30px;
	font-size:17px;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,1.00);*/ 
}

/*End About Section*/

/*Start Skills Section*/

.skills-div
{
	width:100%;
	height:auto;
	background-color:rgba(201,186,186,0.5);
	
}

.set-skill-margin
{
	margin-top:70px;
}

.skill-div-heading
{
	font-size:36px;
	font-weight:600;
	color:rgba(25,25,25,1.00);
}

.skill-div-para
{
	color:rgba(18,87,144,1.00);
	font-size:20px;
	
	
}

/*End Skills Section*/

/*Start Project Section*/

.project-div
{
	width:100%;
	height:auto;
	/*background-color:rgba(197,119,121,0.6);*/
	/*background-color:rgba(212,145,180,0.7)*/
	background-color:rgba(12,95,94,0.4)
	
}

.set-project-margin
{
	margin-top:70px;
}

.project-div-heading
{
	font-size:36px;
	font-weight:600;
	color:rgba(25,25,25,1.00);
}

.project-div-para
{
	color:rgba(63,163,149,1.00);
	font-size:20px;
	
	
}

.portfolio-box 
{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.project-box-border
{
	
	/*box-shadow:10px 10px 15px rgba(86,44,70,1.00);*/
     box-shadow:8px 8px 15px rgba(35,88,81,1.00);
}

.project-text-border
{
	box-shadow:5px 5px 12px rgba(11,71,120,1.00);
}

.box-heading-div
{
	
	background:rgba(12,34,52,0.6);
	width:100%;
	height:auto;
	
}

.box-heading
{
	color:rgba(255,255,255,1.00);
	font-size:22px;
	padding-bottom:10px;
	padding-top:11px
}

@media screen and (max-width: 991px) {
   .box-heading
   {
       font-size:16px;
	   padding-bottom:7px;
	   padding-top:8px;
   }
 }

@media screen and (max-width: 767px) {
   .box-heading
   {
       font-size:32px;
	   padding-bottom:15px;
	   padding-top:16px;
   }
 }

@media screen and (max-width: 790px) {
   .box-heading
   {
       font-size:20px;
	   padding-bottom:10px;
	   padding-top:11px;
   }
 }
 
 @media screen and (max-width: 390px) {
	 .box-heading-div
	 {
		 margin-top:-20px;
		 width:100%;
		 height:auto;
	 }
	 
   .box-heading
   {
       font-size:16px;
	   padding-bottom:10px;
	   padding-top:11px;
   }
 }

@media screen and (max-width: 345px) {
   .box-heading
   {
	   font-size:12px;
	   padding-bottom:5px;
	   padding-top:6px;
   }
}

/*End Project Section*/

/*Start Contact Section*/

.contact-div
{
	width:100%;
	height:auto;
	background-color:rgba(12,84,136,0.7);
	
}

 

.set-contact-margin
{
	margin-top:70px;
}

.contact-div-heading
{
	font-size:36px;
	font-weight:600;
	color:rgba(25,25,25,1.00);
}

.contact-div-para
{
	color:rgba(251,251,251,1.00);
	font-size:18px;
	
	
}

.contact-earphone
{
	font-size:40px;
	color:rgba(205,131,9,1.00);
	margin-top:60px;
}

.contact-message
{
	font-size:40px;
	color:rgba(205,131,9,1.00);
	margin-top:60px;
}

.contact-detail
{
	
	font-size:17px;
	color:rgba(251,251,251,1.00);
}

a.email-contact
{
	
	font-size:17px;
	color:rgba(251,251,251,1.00);
}

/*End Contact Section*/